body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

h4 {
  text-align: center;
  font-size: 2rem;
  color: #333333;
}

body {
  color: #34495e;
  font-family: "Open Sans", sans-serif;
}

.form,
.greetings {
  display: none;
}

/* 시계 시작 */
.js-clock > h1 {
  color: #333333;
}

.js-clock {
  display: flex;
  justify-content: center;
}
/* 시계 끝 */

/* 입력 폼 시작  */
.js__toDoForm {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showing {
  display: block;
}
/* 입력 폼 끝  */

/* 리스트 시작  */
.js__toDoList > li {
  padding: 10px 0;
  color: #333333;
  font-weight: bold;
  width: 250px;
  display: flex;
  justify-content: flex-start;
}
.js__toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* 리스트 끝  */

/* 이미지 애니메이션 시작 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js__weather {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #f5f4f4;
  font-size: 2rem;
  font-weight: bold;
}
/* 이미지 애니메이션 끝 */
